# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
venv/
ENV/
env/

#front
node_modules/

# uv
uv.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project
dist/
build/
*.egg-info/

# Local testing
.pytest_cache/
.coverage
htmlcov/