:8080 {
    root * /usr/share/caddy
    file_server

    handle_path /api/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle_path /r/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle_path /ping {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        try_files {path} /index.html
    }
}